.add{
  height: 28px;
  width: 28px;
  display: inline-block;
  text-align: center;
}
.add:hover{
  cursor: pointer;
}
.tab{
  height: 28px;
  width: 120px;
  margin-top: 20px;
  padding: 8px;
  display: inline-block;
  border: 1px solid black;

}
.tab p {
  font-size: 25px;
  margin: 0;
}
#container_Tab{
  height: 70vh;
  width: 70vw;
}
.open{
  height: 70vh;
  width: 70vw;
  border: 2px dotted black;
}
select{
  width: 120px;
  height: 30px;
}
