.add{
  height: 28px;
  width: 28px;
  display: inline-block;
  text-align: center;
}
.add:hover{
  cursor: pointer;
}
.tab{
  height: 28px;
  width: 120px;
  display: inline-block;
  border: 1px solid black;

}
.tab p {
  font-size: 25px;
  margin: 0;
}
